hr.section-divider {
  margin: 1rem 0 0.5rem;
  width: 30%;
  height: 2px;
  background: #485460;
  border: none;
  border-radius: 1px;
}

.spacer {
  display: block;
  height: 1.5rem; /* 想要再小就调 1rem，再大 2rem */
  content: "";
}
