<div class="repo p-2 text-center">
  <a href="https://github.com/ryo-ma/github-profile-trophy">
    <img
      class="only-light"
      alt="{{ include.username }}"
      src="https://trophygh.kolioaris.xyz/?username={{ include.username }}&theme={{ site.repo_trophies.theme_light }}&locale={{ site.lang }}&margin-w=15&margin-h=5&no-bg=true&rank=-C&row=2&column=3"
    >
  </a>
</div>
